.sertificate{
    &__title{
        font-size: 28px;
        font-weight: 700;
        line-height: 58.61px;
        text-align: left;

    }
    &__card{
        img{
            width: 370px;
        }
    }
}